<include file="public/head" />
	<!--图片轮播-->
	<style type="text/css">
		/*body{ background:#fff; font:normal 12px/22px 宋体;  }
		img{ border:0;  }
		a{ text-decoration:none; color:#333;  }*/
        
		/* 本例子css */
		.slideBox{ width:100%; height:400px;margin: auto; overflow:hidden; position:relative; }
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:40px; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle;position:relative; }
		.position_center{position:absolute;left:15%;top:30%;}
		.position_center h1{font-size:40px;color:#fff;font-family:宋体;line-height:40px;}
		.position_center p{font-size:25px;color:#fff;font-family:宋体;line-height:40px;margin-top:10px;}
		.position_center span{font-size:15px;color:#f9f9f9;opacity:0.6;font-family:微软雅黑;line-height:40px;margin-top:10px;}
		.slideBox .bd img{ width:100%; height:400px; display:block;  }
        .position_center_1{font-size:40px;color:#fff;font-family:宋体;font-weight:900;line-height:50px;}
        .position_center_2{font-size:50px;color:#fff;font-family:宋体;font-weight:900;line-height:50px;margin-top:10px;}
        .position_center_3{font-size:20px;color:#fff;font-family:hakuyoxingshu7000;line-height:40px;margin-top:20px;border:2px solid #fff;}
       .position_center_4{font-size:20px;color:#fff;font-family:宋体;line-height:40px;margin-top:30px;border:2px solid #fff;}
		</style>
	

		<div class="banner" id="banner" style="">
            <div class="flexslider">
                <ul class="slides" id="sliders">   
                    <foreach name="sql" item="value">
					<li>
						<a href="#" target="_blank">
						    <img class="bannerimg" src="__UP__/{$value.img}"/>
						</a>
					</li>
				</foreach>    
                </ul>
                <ul class="slidePot">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="index-news" style="margin-top: 560px;">
            <div class="container">
                <div class="index-news-title" style="display:block!important">
                    <h3>新闻</h3>
                </div>
                
                <div class="lunbo-cont marginbotm30">
                    <a href="javascript:void(0)" class="prev"></a>
                    <a href="javascript:void(0)" class="next"></a>
                    <ul class="bd">
                       <volist name="xinwen" id="list">
                         <li>
                            <dl>
                                <dt>
                                    <p><?php echo date("Y-m-d",$list['times']);?></p>
                                        <a href="<?php echo U('Home/Xinwen/xinwens/id/'.$list['id']);?>">
                                          <img src="__UP__/{$list.img}" alt="" width="305" height="145" />
                                        </a>
                                </dt>
                                <dd>
                                    <h5>{$list.name}</h5>
                                    <p><?php echo html_entity_decode($value['content']);?></p>
                                    </dd>
                            </dl>
                          </li>
                        </volist>                    
                    </ul>
                </div>
                <script>
                // var mySwiper = new Swiper ('.swiper-container', {
                //     direction: 'vertical',
                //     loop: true,
                    
                //     // 如果需要分页器
                //     // pagination: '.swiper-pagination',
                    
                //     // 如果需要前进后退按钮
                //     nextButton: '.swiper-button-next',
                //     prevButton: '.swiper-button-prev',
                    
                //     // 如果需要滚动条
                //     scrollbar: '.swiper-scrollbar',
                //   }) 
                </script>
                <!-- <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul><li>1</li><li>2</li><li>3</li></ul>
                    </div>
                    <div class="bd">
                        <ul>
                        <foreach name="sql" item="value">
                            <li>
                            
                                <a href="#" target="_blank">
                                    <img src="__UP__/{$value.img}"/>
                                </a>
                            </li>
                        </foreach>
                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="core_nengli">
        <h3>核心能力
                </h3>
        <ul class="core_list hexinnengli">
            <foreach name="force" item="list">
                <li class="prz">
                    <a href="<?php echo U('Home/Force/force/id/'.$list['id']);?>" class="pic img-container prz">
                      <img class="pic img-container prz" src="__UP__/{$list.img}" data-scale="best-fill" />
                    </a>
                    <div class="intro">
                        <h4>{$list.title}</h4>
                        <div class="xq">{$list.content}
                        </div>
                    </div>
                </li>
            </foreach>    
        </ul>
    </div>



<script type="text/javascript">
		// jQuery(".slideBoxs").slide({mainCell:".news ul",effect:"leftLoop",autoPlay:true});
</script>

<include file="Public/end" />