<include file="public/head" />
  <!--内容开始-->
<div class="containers1">
    <div class="second-banner">
            	<img layout="None" src="__UP__/<?php echo $banner['img'];?>" class="bannerimg1">
                <div class="containers banNavst">
                    <div class="containers banNavst">
                    <ul class="num5">
                       <foreach name="nav" item="list">
                        <li><a href="<?php echo U('Home/'.$list['link'].'/id/'.$list['id']);?>" class="<?php echo $id==$list['id']?'active':'';?>">{$list.title}</a><i></i></li>
                       </foreach> 
                    </ul>
                </div>
                </div>
    </div>
        <script type="text/javascript">
          $(".mainlevel").mouseover(function(){
		$(this).find(".childul").slideDown("slow");
        $(this).siblings().find(".childul").hide();
        $('.containers1').animate({"margin-top":"0px"},200);
     	   	  
	});
$('.childul').hover(function(){
        $('.containers1').animate({"margin-top":"0px"},200);		
	},function(){
        $(this).fadeOut('slow');
        $('.containers1').animate({"margin-top":"-50px"},200);       
    });
        </script>
    <div class="breadBox">
        <div class="breadBox-r">
            <a href="javascript:;">当前位置</a><span>:</span>
            <span></span> <a href="<?php echo U('Home/'.$list['link'].'/id/'.$list['id']);?>" Layout="None" class="dqwz_am"><?php echo $nav1['title'];?></a>
        </div>

    <script type="text/javascript">
        $(".dqwz_am:last").addClass("active");
    </script>
    </div>
</div>
 <div class="container2" style=" width:1000px; margin:auto;height: auto;">
    	
        	<img layout="None" src="__IMG__/cp_01.png" />
           

		<hr color="#ccc"/>
		
		<div class="main-titles">
            <p><?php echo $nav1['title'];?></p>
        </div>
        <div class="data-colm02">
            <foreach name="sql" item="value">
                    <div class="data-colm02-cont">
            	        <div class="data-cont-l">
            		        <a href="<?php echo U('Anli/anlis',array('id'=>$value['id']));?>"><img src="__UP__/{$value.img}" alt="" /></a>
                        </div>
                        <div class="data-cont-r">
                	        <div class="sameMain data-same02">
                    	        <dl>
                        	        <dt><span></span></dt>
                                    <dd>
                            	        <h5>{$value.name}</h5>
                                        
                                    </dd>
                                </dl>
                                <p class="sameMain-p"><?php echo html_entity_decode($value['content']);?></p>
                                
                            </div>
                        </div>
                    </div>
             </foreach>   
                    
                
            <!-- <div class="box-page" style="display:none">
                <a  href="javascript:void(0)" >&lt;&lt;首页</a><a href="javascript:void(0)">&lt;上一页</a><a href='javascript:void(0);'  class="active">1</a><a  href="javascript:void(0)" >下一页&gt;</a><a  href="javascript:void(0)">最后&gt;&gt;</a>
            </div> -->
            <!--../jynry/index.aspx?nodeid=&page=ContentPage&contentid=-->
        </div>
    
		
		
	
        
    </div> 

  <!--内容结束-->
<!-- <include file="Public/end" /> -->