@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/normal Verdana, Arial, Helvetica, sans-serif;}

/*nav*/
#nav{float:right;width:78%;height:34px;}
#nav .jquery_out{float:left;line-height:32px;display:block;border-right:1px solid #fff;text-align:center;color:#fff;font:18px/32px "微软雅黑";background:#062723 url(../images/slide-panel_03.png) 0 0 repeat-x;}
#nav .jquery_out .smile{padding-left:1em;}
#nav .jquery_inner{margin-left:16px;}
#nav .jquery{margin-right:1px;padding:0 2em;}

#nav .mainlevel{background:white;float:left;border-right:1px solid #fff;/*IE6 only*/}
#nav .mainlevel a{color:#000;text-decoration:none;line-height:18px;display:block;}
#nav .mainlevel a:hover{border-bottom:3px solid #333;}
#nav .mainlevel ul{display:none;position:absolute;height:200px;}
#nav .mainlevel li{border-top:1px solid #fff;background:white;/*IE6 only*/}